.main {
  max-width: var(--global-main-width);
  margin: 0 auto;
  padding: 0 var(--mobile-padding-width);
  display: flex;
  gap: 56px;
  width: 100%;

  .leftContent {
    flex: 1;
    min-width: 0;
    padding-top: 48px;

    .cardLine {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  .rightContent {
    width: 220px;
    flex-shrink: 0;
    position: relative;

    .navLinkWrap {
      position: sticky;
      top: 96px;
      width: 100%;
    }
  }

  @media screen and (max-width: 1280px) {
    .leftContent .cardLine {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
  @media screen and (max-width: 1024px) {
    gap: 0;
    .rightContent {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .leftContent .cardLine {
      grid-template-columns: 1fr !important;
    }
  }
}
