.globalWidth {
  max-width: var(--global-main-width);
  margin: 0 auto;
  padding: 0 var(--mobile-padding-width);

  .mainContent {
    display: flex;
    gap: 56px;

    .leftContent {
      flex: 1;
      min-width: 0;
    }
    .rightContent {
      width: 220px;
      flex-shrink: 0;
      position: relative;
      .navLinkWrap {
        position: sticky;
        top: 96px;
        width: 100%;
        margin-top: 64px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .mainContent {
      gap: 0;
      .rightContent {
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .mainContent {
      .leftContent .codeContribution {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
}

.codeContribution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.highLight {
  color: var(--color-accent);
  a {
    color: inherit;
  }
}
