.mainContent {
  .cardLine {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
  }
  @media screen and (max-width: 768px) {
    .cardLine {
      grid-template-columns: 1fr !important;
    }
  }
}
